:root {
  --conduction-quote-border-width: 12px;
  --conduction-quote-border-color: #f5f5f5;
  --conduction-quote-padding-inline: 24px;
}

.container {
  border-left-width: var(--conduction-quote-border-width);
  border-left-style: solid;
  border-left-color: var(--conduction-quote-border-color);
  padding-inline-start: var(--conduction-quote-padding-inline);
}
