.content {
  display: flex;
}

.badge {
  height: var(--skeleton-size-md);
  width: var(--skeleton-size-md);
  border-radius: 50%;
  font-size: var(--skeleton-font-size-xs);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--skeleton-color-grey-1);
  color: var(--skeleton-color-black);
}
.maxNumber {
  font-size: var(--skeleton-font-size-2xs);
}
