:root{
  --conduction-top-nav-color-secondary: #0b71a1;
  --conduction-top-nav-color-secondary-hover: rgba(255, 255, 255, 0.2);
  --conduction-top-nav-color-primary: #084f70;
  --conduction-top-nav-color-primary-hover: rgba(0, 0, 0, 0.2);
  --conduction-top-nav-font-size-secondary: 16px;
  --conduction-top-nav-space-inline-lg: 1.25rem; /* Large */
}

.primary,
.secondary {
  width: fit-content;
}

.ul {
  margin: unset;
  display: flex;
  padding-inline-start: unset;
  align-items:center;
}

.li {
  list-style-type: none;
  display: block;
  padding-inline-start: var(--conduction-top-nav-space-inline-lg);
  padding-inline-end: var( --conduction-top-nav-space-inline-lg);
  padding-block-start: var( --conduction-top-nav-space-inline-lg);
  padding-block-end: var( --conduction-top-nav-space-inline-lg);
}

.li > .link,
.li > .anchor,
.li > .anchor > .link {
  color: var(--denhaag-color-white);
}

.li > .link:not(:hover),
.li > .anchor > .link:not(:hover),
.li > .anchor:not(:hover) {
  text-decoration: none;
}

.primary {
  font-weight: 500;
}

.secondary {
  font-weight: 100;
  font-size: var(--conduction-top-nav-font-size-secondary);
}

.primary .li:hover {
  background-color: var(--conduction-top-nav-color-primary-hover);
}

.secondary .li:hover {
  background-color: var(--conduction-top-nav-color-secondary-hover);
}
