:root {
  --conduction-top-nav-space-inline-lg: 1.25rem;

  --conduction-top-nav-font-size-secondary: 16px;
  --conduction-top-nav-color-secondary: #ffffff;
  --conduction-top-nav-background-color-secondary: #084f70;
  --conduction-top-nav-background-color-secondary-hover: rgba(0, 0, 0, 0.2);
}

.secondary:hover {
  cursor: pointer;
}

.ul {
  margin: unset;
  display: flex;
  padding-inline-start: unset;
  align-items: center;
}

.li {
  list-style-type: none;
  display: block;
  padding-inline-start: var(--conduction-top-nav-space-inline-lg);
  padding-inline-end: var(--conduction-top-nav-space-inline-lg);
  padding-block-start: var(--conduction-top-nav-space-inline-lg);
  padding-block-end: var(--conduction-top-nav-space-inline-lg);
}

.secondary {
  font-weight: 100;
  width: fit-content;
  font-size: var(--conduction-top-nav-font-size-secondary);
  background-color: var(--conduction-top-nav-background-color-secondary);
}

.secondary .link {
  color: var(--conduction-top-nav-color-secondary);
}

.secondary .li:hover {
  background-color: var(--conduction-top-nav-background-color-secondary-hover);
}
