:root {
  --conduction-rich-content-card-border: 1px solid var(--skeleton-color-grey-2);
}

.container {
  display: flex;
  flex-direction: column;
  border: var(--conduction-rich-content-card-border);
  border-radius: var(--skeleton-border-radius-md);

  padding-inline-start: var(--skeleton-size-md);
  padding-inline-end: var(--skeleton-size-md);
  padding-block-start: var(--skeleton-size-md);
  padding-block-end: var(--skeleton-size-md);
}

.container > *:not(.linkContainer):not(:last-child) {
  margin-block-end: var(--skeleton-size-md);
}

.linkContainer {
  margin-block-end: var(--skeleton-size-xs);
}

.linkContainer > :first-child {
  display: flex;
}

.link > * {
  margin-inline-end: 8px;
}

.labelsWithIcon {
  display: flex;
  flex-wrap: wrap;
}

.labelsWithIcon > *:not(:last-child) {
  margin-inline-end: var(--skeleton-size-md);
}

.tags > *:not(:last-child) {
  margin-inline-end: var(--skeleton-size-md);
}

.contentLinks > *:not(:last-child):not(hr) {
  margin-block-end: var(--skeleton-size-xs);
}

/* Component: LabelWithIcon */
.labelWithIcon {
  display: flex;
  align-items: center;
  color: var(--skeleton-color-grey-3);
}

.labelWithIcon > .labelWithIcon_icon > svg {
  height: var(--skeleton-size-sm);
  width: var(--skeleton-size-sm);
  margin-inline-end: var(--skeleton-size-xs);
}

.labelWithIcon > .labelWithIcon_label {
  font-size: var(--skeleton-size-sm);
}

/* Content Link */
.contentLink {
  display: flex;
  padding-block-start: var(--skeleton-size-xs);
  padding-block-end: var(--skeleton-size-xs);
  text-decoration: none !important;
}

.contentLink > span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contentLink:hover {
  cursor: pointer;
}

.contentLink_content {
  display: flex;
  flex-direction: column;
}

.contentLink_title {
  font-size: var(--conduction-content-link-font-size);
}

.contentLink_subTitle {
  font-size: var(--conduction-content-link-font-size);
  color: var(--denhaag-color-grey-3);
}

.divider {
  width: 100%;
  opacity: 0.5;
  margin-block: var(--skeleton-size-lg);
}
