:root {
  --conduction-primary-top-nav-item-padding: var(--skeleton-size-md);
  --conduction-primary-top-nav-color: var(--skeleton-color-white);
  --conduction-primary-top-nav-background-color: var(--skeleton-color-secondary-3);
  --conduction-primary-top-nav-background-color-hover: var(--skeleton-color-secondary-5);
  --conduction-primary-top-nav-dropdown-border-radius: var(--skeleton-border-radius-md);
}

.primary:hover {
  cursor: pointer;
}

.ul {
  margin: unset;
  display: flex;
  padding-inline-start: unset;
  align-items: center;
}

.li {
  list-style-type: none;
  display: block;
  position: relative;
}

.primary {
  font-weight: 500;
  width: fit-content;
  background-color: var(--conduction-primary-top-nav-background-color);
}

.primary .link {
  display: block;
  color: var(--conduction-primary-top-nav-color);
  padding-inline-start: var(--conduction-primary-top-nav-item-padding);
  padding-inline-end: var(--conduction-primary-top-nav-item-padding);
  padding-block-start: var(--conduction-primary-top-nav-item-padding);
  padding-block-end: var(--conduction-primary-top-nav-item-padding);
}

.primary .li:hover {
  background-color: var(--conduction-primary-top-nav-background-color-hover);
}

.primary .li:hover .dropdown {
  display: block;
  z-index: 1;
}

.dropdown {
  left: 0;
  padding: 0;
  width: 100%;
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: var(--conduction-primary-top-nav-background-color);
  border-bottom-right-radius: var(--conduction-primary-top-nav-dropdown-border-radius);
  border-bottom-left-radius: var(--conduction-primary-top-nav-dropdown-border-radius);
}
