:root {
  --conduction-download-card-border: 1px solid var(--skeleton-color-grey-2);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--conduction-download-card-border);
  border-radius: var(--skeleton-border-radius-md);
  padding-inline-end: var(--skeleton-size-sm);
}

.content {
  display: flex;
  align-items: center;
}

.content > *:not(:last-child) {
  margin-inline-end: var(--skeleton-size-sm);
}

.icon {
  padding-inline: var(--skeleton-size-sm);
  padding-block: var(--skeleton-size-sm);
  background-color: var(--skeleton-color-grey-1);
}
