:root {
  --conduction-card-padding-inline-start: 18px;
  --conduction-card-padding-inline-end: 18px;
  --conduction-card-padding-block-start: 18px;
  --conduction-card-padding-block-end: 18px;
  --conduction-card-background-color: #ffffff;
  --conduction-card-border-radius: 16px;
  --conduction-card-max-width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  padding-inline-start: var(--conduction-card-padding-inline-start);
  padding-inline-end: var(--conduction-card-padding-inline-end);
  padding-block-start: var(--conduction-card-padding-block-start);
  padding-block-end: var(--conduction-card-padding-block-end);
  max-width: var(--conduction-card-max-width);
  max-height: var(--conduction-card-max-height);

  background-color: var(--conduction-card-background-color);
  border-radius: var(--conduction-card-border-radius);
  border-width: var(--conduction-card-border-width);
}

.container:hover {
  background-color: var(--conduction-card-hover-background-color, var(--conduction-card-background-color));
  cursor: pointer;
}
