.th {
  width: 35%;
}

.cancel {
  color: var(--skeleton-color-grey-3) !important;
}

.editButtonsContainer {
  display: flex;
  margin-block-start: var(--skeleton-size-xs);
}

.editButtonsContainer > *:not(:last-child) {
  margin-inline-end: var(--skeleton-size-md);
}

.submit {
  all: unset;
}

.editButton {
  display: flex;
  justify-content: flex-end;
}
